<div class="mat-body">
    <h2 class="mat-h2">About Tune Browser</h2>

    <h3 class="mat-h3">Release</h3>

    <p>Version: 0.29.0 (2023-12-27)</p>

    <h3 class="mat-h3">Features</h3>

    <ul>
        <li>Browse tune books in ABC notation</li>
        <li>Create PDF files of tunes or books for printing</li>
        <li>Create and edit your own tune books on Google Drive</li>
        <li>Add tags to tunes (requires Google Drive)</li>
        <li>Find tunes by title or number, key, rhythm, books or tags</li>
        <li>Play tunes and adjust tempo</li>
        <li>Create repertoires and get practice assignments (requires Google Drive)</li>
        <li>Record audio samples and recognize tunes from thesession.org</li>
    </ul>

    <h3 class="mat-h3">Getting started</h3>

    <p>
        Tune Browser is a web application which should work in any modern web browser, including mobile browsers
        on smartphones or tablets.
    </p>

    <p>
        On mobile devices, you can create a shortcut on your home screen which makes Tune Browser work in full screen
        mode, almost like a native app, without requiring installation from Play Store or App Store.
    </p>

    <p>
        If you have a Google account, you can create and edit your own tune books and store them on Google Drive. Before
        you can do so, you will have to log in to your Google account from Tune Browser. The login dialogue uses a
        separate browser window which directly communicates with Google.

        Tune Browser will create a folder <code>Tune Browser</code> containing your tune books.
    </p>

    <h3 class="mat-h3">Practicing</h3>

    <p>
        With a Google account, you can create one or more repertoires (e.g. for different instruments) with tunes from existing books 
        and generate daily practice assignments.
    </p>

    <p>
        For each tune in a given repertoire, Tune Browser records the date you last practiced the tune and the date you
        added it. Based on this information, new tunes will be included in your assignment every day for the first week,
        and then in longer intervals in the following weeks. Older tunes will be rescheduled once a month. Some
        randomness gets applied to avoid repetitive assignments.
    </p>

    <h3 class="mat-h3">Recognize tunes</h3>

    <p>
        You can record audio snippets and recognize tunes based on Bryan Duggan's MATT2 matching algorithm as published
        in
        <a href="https://tunepal.org">tunepal.org</a>.
    </p>

    <p>
        Tune Browser matches your audio against the tune corpus of <a href="https://thesession.org">thesession.org</a>.
        The best matches are listed by confidence level and are linked to the corresponding pages on thesession.org.
    </p>

    <h3 class="mat-h3">Privacy</h3>

    <p>Tune Browser does not collect any personal data from its users.</p>

    <p>
        Tune Browser is hosted on GitHub Pages and on Google Cloud Run. It optionally uses Google Drive for storing your tune books. If you
        are worried about privacy, please review the terms of service of these providers. Tune Browser has no influence
        on user tracking performed by these services.
    </p>

</div>