<div>
  <h2 class="mat-h2">Practice</h2>

  @if (!hasAssignment()) {
    <div id="initial">
      <div class="form-container">
        <mat-form-field>
          <mat-label>Repertoire</mat-label>
          <mat-select [(value)]="repertoire">
            @for (rep of repertoires(); track rep) {
              <mat-option [value]="rep.name">
                {{rep.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="max-age">
          <input matInput name="maxAge" type="number" [(ngModel)]="maxAge" placeholder="Maximum age in days">
        </mat-form-field>
        <mat-form-field class="num-tunes">
          <input matInput name="numTunes" type="number" [(ngModel)]="numTunes" placeholder="Number of tunes">
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="buildAssignment()" class="search-button" color="primary">Get
      assignment</button>
    </div>
  }

  @if (hasAssignment()) {
    <div id="assignment">
      <mat-list>
        @for (entry of entries; track entry) {
          <mat-list-item>
            <div class="tune-link" routerLink="../tune/{{entry.book}}/{{entry.id}}">
            {{titleWithoutNumber(entry.title)}}</div>
          </mat-list-item>
        }
      </mat-list>
      <button mat-raised-button (click)="markAsPracticed()" [disabled]="saved" label="All done" class="search-button"
        color="primary">All
      done</button>
    </div>
  }
</div>