<div class="player-controls">
    <div class="player">
        <app-tune-player #player [tune]="tune"></app-tune-player>
    </div>
    <div class="tempo-slider">
        <mat-label class="mat-body">Tempo</mat-label>
        <mat-slider thumbLabel [(ngModel)]="player.tempo" [min]="50" [max]="200"></mat-slider>
    </div>
</div>
<app-tune-view [tune]="tune"></app-tune-view>

<form class="tags-form">
    <mat-form-field class="tags">
        <input name="tags" matInput [(ngModel)]="allTags" placeholder="Tags" [readOnly]="signedOut">
    </mat-form-field>

    <button mat-raised-button (click)="save()" label="Save" class="search-button" color="primary"
        [disabled]="signedOut">Save</button>

</form>

<button mat-raised-button (click)="openDialog()" class="repertoire-button" color="primary"
[disabled]="signedOut">Add to repertoire</button>

<button mat-raised-button (click)="exportAsPdf()" class="pdf-button" color="primary">Export as PDF</button>
