<form class="example-form">

    <mat-form-field class="editor">
        <textarea appCaretTracker matInput (caret)="onCaret($event)" name="abc-area"  [(ngModel)]="tune" placeholder="Enter ABC notation"></textarea>
    </mat-form-field>

    <button mat-raised-button (click)="save()" label="Save" class="search-button" color="primary">Save</button>
    <button mat-raised-button (click)="delete()" label="Delete" class="tune-button" color="primary">Delete</button>
    <button mat-raised-button (click)="exportAsPdf()" class="tune-button" color="primary"><mat-icon>print</mat-icon></button>
</form>

<div #notation class="tune-view"></div>