<mat-sidenav-container>
    <mat-sidenav #snav fullscreen>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="snav.close()">
                <mat-icon>search</mat-icon> <span class="nav-caption">Search</span>
            </a>
            <a mat-list-item routerLink="/owner" (click)="snav.close()">
                <mat-icon>info</mat-icon> <span class="nav-caption">About</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="full-height">
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="mat-h1">Tunebook Browser</h1>
            </mat-toolbar>

            <div class="main-content">
                <div>
                    <h2 class="mat-h2">Find tunes</h2>
                </div>

                <div class="search-panel">
                    <form>
                        <mat-form-field class="example-full-width">
                            <input matInput name="query" type="text" [(ngModel)]="query"
                                placeholder="tune number or part of title">
                        </mat-form-field>
                        <button mat-raised-button (click)="findTunes()" label="Search" class="search-button"
                            color="primary">Search</button>
                    </form>
                </div>

                <div id="noMatches" *ngIf="noResults()">
                    <p>No matching tunes</p>
                </div>

                <div id="overview" *ngIf="multipleResults()">
                    <table mat-table [dataSource]="tunes">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Title</th>
                            <td mat-cell *matCellDef="let tune"><span class="tune-link"
                                    (click)="renderTune(tune)">{{tune.title}}</span></td>
                        </ng-container>

                        <ng-container matColumnDef="snippet">
                            <th mat-header-cell *matHeaderCellDef>Snippet</th>
                            <td mat-cell *matCellDef="let tune" class="tune-link" (click)="renderTune(tune)">
                                <app-snippet-view [tune]="tune.abc"></app-snippet-view>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div>
                    <app-tune-view *ngIf="uniqueResult()" [tune]="currentTune()"></app-tune-view>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>