<h1 mat-dialog-title>New repertoire</h1>
<div mat-dialog-content class="form-container">
    <mat-form-field>
        <input matInput name="name" [formControl]="instrument" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="maxAge" [formControl]="maxAge" placeholder="Maximum age in days">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="numTunes" [formControl]="numTunesPerAssignment" placeholder="Number of tunes per assignment">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="repertoire()" color="primary" cdkFocusInitial>Ok</button>
</div>
