@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

div.search-panel {
    margin-bottom: 1em;
}

body {
    margin: 0;
}

.search-panel mat-form-field, .tags-form mat-form-field {
    width: 15em;
    margin-right: 0.5em;
}

mat-form-field.editor {
    width: 1000px;
    height: 15em;
    margin-bottom: 5em;
}

mat-form-field.editor textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    height: 15em;
}

mat-sidenav mat-icon {
    margin-right: 0.5em;
}

.main-content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    max-width: 1000px;
}

.tune-link {
    cursor: pointer;
}

.tune-link.tune-title {
    min-width: 30px;
}

.tunebook-list .tunebook-button {
    width: 40px;
}

.tunebook-link {
    font-size: 120%;
    font-weight: bolder;
    cursor: pointer;
}

cdk-virtual-scroll-viewport { 
    height: 70vh; 
}

tr.tune-preview {
    height:100px;
    max-height:100px;
}

app-snippet-view div {
    height: 80px;
    max-height:80px;
}

.abcjs-inline-midi {
    max-width: 1000px;
    margin-bottom: 1em;
}

div.tunebook-item {
    display: flex;
    flex-flow: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.create-book-panel form {
    display: flex;
    flex-flow: column;
}

button.create-book-button {
    margin-top: 1em;
    width: max-content;
}

/* overrides hard-wired height from Angular Material by more specific selector */
app-books-list .mat-list-base .mat-list-item {
    height: auto;
}

div.tune-view {
    max-width: 1000px;
}

app-tune-player {
    margin-bottom: 1em;
}

div.tunebook-button {
    width: 48px;
}