@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

div.search-panel {
    margin-bottom: 1em;
}

body {
    margin: 0;
}

mat-form-field {
    width: 15em;
    margin-right: 0.5em;
}

mat-sidenav mat-icon {
    margin-right: 0.5em;
}

.main-content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.tune-link {
    cursor: pointer;
}

.tune-link.tune-title {
    min-width: 30px;
}

.tunebook-link {
    font-size: 120%;
    font-weight: bolder;
    cursor: pointer;
}

cdk-virtual-scroll-viewport { 
    height: 70vh; 
}

.abcjs-inline-midi {
    max-width: 1000px;
    margin-bottom: 1em;
}

div.tunebook-item {
    display: flex;
    flex-flow: column;
}

/* overrides hard-wired height from Angular Material by more specific selector */
app-books-list .mat-list-base .mat-list-item {
    height: 60px;
}

div.tune-view {
    max-width: 1000px;
}

app-tune-player {
    margin-bottom: 1em;
}