<div>
    <h2 class="mat-h2">Tunebooks</h2>

    <mat-list class="tunebook-list">
        <mat-list-item *ngFor="let book of books">
            <div class="tunebook-button">
                <button mat-icon-button routerLink="../edit/{{book.descriptor.id}}" [disabled]="!isEditable(book)">
                    <mat-icon  *ngIf="isEditable(book)">edit</mat-icon>
                </button>
            </div>
            <div class="tunebook-button">
                <button mat-icon-button routerLink="../print/{{book.descriptor.id}}">
                    <mat-icon>print</mat-icon>
                </button>
            </div>
            <div class="tunebook-item">
                <div class="tunebook-link" routerLink="../book/{{book.descriptor.id}}">{{book.descriptor.name}}</div>
                <div class="tunebook-description">{{book.descriptor.description}}</div>
            </div>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button routerLink="../createBook" class="create-book-button" color="primary" [disabled]="signedOut">New Book</button>

</div>