<div>
    <h2 class="mat-h2">Tunebooks</h2>

    <mat-list>
        <mat-list-item *ngFor="let book of books">
            <div class="tunebook-item">
                <div class="tunebook-link" routerLink="../book/{{book.descriptor.id}}">{{book.descriptor.name}}</div>
                <div class="tunebook-description">{{book.descriptor.description}}</div>
            </div>
        </mat-list-item>
    </mat-list>

    <button mat-raised-button routerLink="../createBook" class="new-book-button" color="primary" [disabled]="signedOut">New Book</button>

</div>