name: Release

on:
  push:
    tags:
    - '**'
    branches:
    - none

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.18.0
        cache: npm
    - name: Build
      run: |
        echo ${GITHUB_REF}
        npm ci
        npm run metadata 
        npm run build:prod
    - name: Release to Github Pages
      uses: igolopolosov/github-action-release-github-pages@v1
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
        GITHUB_PAGES_REPO_AUTHOR: folkies
        GITHUB_PAGES_REPO_NAME: folkies.github.io
        GITHUB_PAGES_RELEASE_BRANCH: master
        PROJECT_BUILD_FOLDER: dist
        GITHUB_PAGES_CLEANUP_SCRIPT: "rm -fr tunebook"

